.notfound-container {
  width: 90%;
  max-width: 1140px;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 32px;
  text-align: center;
  height: 100%;
  min-height: 100vh;
  padding-top: 54px;
}

.notfound-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 70%;
  align-self: center;
  max-width: 425px;
}

.notfound-img-container {
  width: 80%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 200px;
}

.notfound-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.notfound-heading {
  margin: 0;
  font-size: 22px;
  color: #cbd5e1;
}

.notfound-para {
  margin: 0;
  font-size: 16px;
  color: #94a3b8;
}

.retry-button {
  background-color: #4d96ff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

@media (max-width: 426px) {
  .notfound-heading {
    font-size: 14px;
  }

  .notfound-para {
    font-size: 12px;
  }

  .retry-button {
    padding: 6px 14px;
    font-size: 12px;
  }
}

.notfound-img-container {
  margin: 0;
}

.link-text {
  text-decoration: none;
}
