.select-item-selected {
  background: rgba(0, 0, 0, 0.12);
  background-image: linear-gradient(to bottom right, #323240, #323240),
    linear-gradient(to top, #323240, transparent 60%);
  box-shadow:
    inset 0 0 18px rgba(255, 255, 255, 0.15),
    inset 0 -6px 12px rgba(0, 0, 0, 0.25),
    0 6px 18px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.select-item-2:hover {
  border: 1px solid rgba(255, 255, 255, 0.25);
}
