.table-item {
    display: flex;
    width: 100%;
    max-width: 1140px;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid rgba(163, 163, 163, 0.25);
}

.list-column {
    width: 400px;
    min-width: 200px;
}

.list-column-num {
    width: 100px;
    font-size: 14px;
}

.list-state-name {
    font-size: 14px;
}

.list-nums {
    gap: 20px;
    display: flex;
}

.mobile-table-item {
    display: none;
}

@media (max-width: 978px) {
    .table-item {
        display: none;
    }

    .mobile-table-item {
        display: flex;
        flex-wrap: wrap;
    }

    .list-column {
        width: 100%;
        text-align: start;
        border-bottom: 1px solid rgba(163, 163, 163, 0.25);
        border-top: 1px solid rgba(163, 163, 163, 0.25);
    }

    .list-nums {
        gap: 0;
        width: 100%;
        overflow-x: auto;
    }

    .list-column-num {
        width: 20%;
        min-width: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        text-align: center;
        border-right: 1px solid rgba(163, 163, 163, 0.25);
        border-top: none;
        border-bottom: none;
        gap: 0;
        padding-left: 3px;
        padding-right: 3px;
    }

    .mobile-width {
        margin-top: 0;
        word-break: break-all;
    }
}

@media (max-width: 400px) {
    .list-column-num {
        font-size: 10px;
    }

    .mobile-text-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: #dddddd;
        font-size: 10px;
        text-align: start;
    }
}

.table-item:hover {
    background-color: #303b4a;
}

.red {
    color: #ff6b6b;
}

.blue {
    color: #4d96ff;
}

.green {
    color: #6bcb77;
}

.grey {
    color: #a0aec0;
}

.text-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #dddddd;
    font-weight: bold;
    text-align: start;
}

.mobile-text-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #dddddd;
    font-weight: bold;
    text-align: start;
}

.text-button:hover {
    text-decoration: underline;
}

.mobile-link-text {
    text-decoration: underline;
}